body{
    font-family: sans-serif;
    background-color: #F7F8FC;
    width: 1140px;
    margin:0 auto;
   

}
header{
    background-image: url(Hero-bg.png);
    background-repeat:no-repeat ;
    background-size: cover;
    width:1440px;
    height: 698px ;
    
}
.logo{ 
    font-size: 20px;
    color:#4E47FF;
    font-weight: bolder;  
   



}
.navbar-section{
    margin: 0  100px 40px 100px;    
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
.btn-primary{
  
    
    background-color:#4E47FF;
    font-size: 20px;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
}
.btn-primary:hover {
  background-color: white;
  color: #4E47FF;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  
}

.banner-section{
    text-align: center;
    font-size:35px; 
    margin-top: 200px; 
}
.action-section{
    display: flex;
    justify-content:space-between ;
    margin: 100px 50px 20px 50px;  
    height: 328px; 
    width: 1140px; 
    align-items: center;

}
.action-image{
    width: auto;
    height:200px;
    border-radius:20px;
}
.action-section-text{
    margin-left:  50px; 
    font-size: 30px;
}

.productive-users-section{
    text-align: center;
    font-size: 35px;
    background-color:#E4E7FF ;
    padding: 20px;
    border-radius:20px ;
    
    

}
.productive-group{
    display: flex;
    justify-content:space-around ;
    max-width: 1140px; 
    width: 1140px; 
    height: auto;
    text-align: center;
  
    align-items: center;
    margin-top: 50px; 
}
.productive-item{
    text-align: center;    
}
.productive-item h1 {
    color: #4E47FF;
}
.touch-section{
    width: 1140px;
    height: 632px;
    display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;

}
.section-title{
    font-size: 100px;
}
   .touch-section form{
        flex-direction: column;
        display: flex;
        gap:20px;
        font-size:20px;
        
    }
 .touch-section input, 
 .touch-section textarea{
    font-size: 16px;
    border-radius: 10px;
    width: 100%;
    padding: 10px;
 }
 .footer-section{
    width: 1440px;
    height: 428px;
    background-color: white;
    text-align: center;  
    padding: 20px;
    border-radius:20px ;
 }
 .footer-list {
    list-style: none ;
    display: flex;
    gap: 20px;
    text-align: center;
    align-items: center;
    justify-content:center ;
    
 }
 .footer-logo{
    color:#4E47FF ;
    font-size: 60px;
 }
 
 .feedback-container{
    display: flex;
    gap: 24px;
    
    
 }
 .text-center{
    text-align: center;
 }
 .feedback{
    padding: 30px;
    background-color:aliceblue ;
    
 }
 .feedback-section{
    margin: 40px 40px  ;
 }
 .info-section{
    display: flex;
    align-items: center;
 }
 
 .info-section img{
    border-radius:50% ;
    gap: 20px;
    width: 60px; 
    height: 60px; 
    
 }